body {
max-height: 100vh;
margin:0;
}
#map {
width: 100vw;
height: 80vh;
}
#content {
width: 100vw;
height: 25vh;
}
.slide {
    border-radius: 25px;
    padding-right: 0.5%;
    transition-property: all;
    transition-duration:0.4s;
}
.slider img {
    max-height: 8em;
    min-width:100%;
    max-width: 100%;
    object-fit: none;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.slider_text {
    padding: 10px;
    background-color: #353A50;
    transition-property: all;
    transition-duration: 0.7s;

    border-radius:0 0 15px 15px;
}
.slider_text h2 {
    color: white;
}
.slider_text p {
    color: white; 
    font-size: 1.1em;
}
.slider_container {
    position: relative;
    z-index: 1000;
    top: -6em;
}
.slick-current .slider_text {
    background-color: #00AFD4;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#menu{
    transition-property: all;
    transition-duration: 0.7s;
    min-width: 75%;
    max-width: 75%;
    min-height: 50vh;
    margin-left: -75%;
}
#menu.active {
    margin-left: 0;
}
#burger_menu {
    position: absolute;
    top: 5%;
    z-index: 1000;
    width: 75px;
    left: 7%;
    cursor: pointer;
}
#menu_header {
    height: 25%;
    background-color: #00AFD4;
    display: flex;
    align-items: flex-end;
}
#menu_header a {
    margin-bottom: 12%;
    margin-left: 15%;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}
#menu_header_decoration {
    display: flex;
    width: 100%;
}
#menu_header a {
    border-bottom: 1px solid white;
}
#menu_header_decoration > div {
    width: 25%;
    height:6px;
}
#menu_header_decoration > .clear_blue {
    background-color: #B0DDE7;
}
#menu_header_decoration > .blue {
    background-color: #05D4E5;
}
#menu_header_decoration > .yellow {
    background-color: #FAE601;
}
#menu_header_decoration > .brown {
    background-color: #CCCC33;
}

#menu_list > li {
    margin-top: 12%;
}
#menu_list svg {
    margin-right: 7%;
}
#menu_list a {
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10%;
}
.slider_container, .slick-initialized,  .slick-initialized * {
    max-height: 250px;
}
.slide.slick-slide:not(.slick-current) {  
    transform: scale(0.88);
}
.slick-current {
    margin-left: 10px;
}
#qr_code {
    position: absolute;
    top: 57%;
    left: 78%;
    z-index: 10001;
    background-color: #00AFD4;
    border-radius: 10px;
    width: 6.5em;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}
/*LEAFLET CHANGES*/
.leaflet-left {
    left: 80%;
    top: 3%;
}