body {
    max-height: 100vh;
}
.slide {
    border-radius: 25px;
    padding-right: 0.5%;
}
.slider img {
    max-height: 8em;
    max-width: 100%;
    object-fit: none;
    border-radius: 15px 15px 0 0;
}
.slider_text {
    padding: 10px;
    background-color: #353A50;
    border-radius:0 0 15px 15px;
    color: white;
}
.slider_container {
    position: relative;
    z-index: 1000;
    top: -6em;
}
