body {
  margin: 0;
}
/*INDEX.PHP*/
#map {
  width: 100vw;
  height: 80vh;
}
#content {
  width: 100vw;
  height: 25vh;
}

p {
  color: red !important;
}

/* HEADER */
#favourite {
  width: 35px;
}
#share {
  width: 35px;
  color: red !important;
}

/*LEAFLET CHANGES*/
.leaflet-left {
  left: 80%;
}
