body{
    margin: 0;
}
/*INDEX.PHP*/
#map {
    width: 100vw;
    height: 80vh;
}
#content {
    width: 100vw;
    height: 25vh;
}

p {
    color: red!important;
}

/*LEAFLET CHANGES*/
.leaflet-left {
    left: 80%;
}
